node_modules
coverage
lib
lerna-debug.log
yarn-error.log

.DS_Store

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*

# JetBrains IDE project files
.idea/
